<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>telc – Zertifikatsprüfung</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="wrap">
    <div class="card">
      <h1>Bestätigt</h1>

      <p class="hint">
        Vielen Dank! Ihre E-Mail-Adresse wurde erfolgreich bestätigt.
        Die Überprüfung wird gestartet.
      </p>

      <div class="card subcard">
        <p class="subcard__title">Status Ihrer Anfrage</p>
        <p class="subcard__text">
          Sie können den Status jederzeit über diesen Link überprüfen:
        </p>

        <p class="subcard__email">
          <a href="<%= urlStatus %>"><%= urlStatus %></a>
        </p>
      </div>

    </div>
  </div>
</body>
</html>